img {
  transition: all linear 0.7s;
}

.container{
  margin-top: 20px;
}

.card:hover img{
  opacity: 0;
}

img.hover-img {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.card:hover img.hover-img{
  opacity: 1;
}
