img {
  transition: all linear 0.7s;
}

.container{
  margin-top: 20px;
}

.card:hover img.fade-out{
  opacity: 0;
}

img.hover-img {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.card:hover img.hover-img{
  opacity: 1;
}

img.circle {
  border-radius: 50%;
  border: 3px solid black;
  width: 10rem;
}

.circleP {
  font-size: 30px;
}


#estimates {
  color: green;
}

#face{
  color: blue;
}
